<h2>Hello <%= @user.first_name || @user.email %>,</h2>

<p>You requested to reset your password.</p>

<p>Your OTP code is:</p>
<h3><%= @otp %></h3>

<p>This code will expire in 10 minutes.</p>

<p>Thank you,<br>
The Support Team</p>
