<!-- app/views/user_mailer/send_email_otp.html.erb -->
<h2>Hello <%= @user.first_name %>,</h2>

<p>Your OTP for login verification is:</p>

<h1><%= @otp %></h1>

<p>This OTP is valid for 10 minutes.</p>

<p>Thank you,<br>
QuickCred Team</p>
