<div
    data-balancemodal-target="container"
    data-action="click->balancemodal#backdrop"
    class="hidden fixed inset-0 flex items-center justify-center z-50"
    style="backdrop-filter: brightness(0.5);"
  >
    <div class="bg-white rounded-2xl shadow-xl w-[688px] p-6 relative mb-12">
      <!-- Close button -->
      <button data-action="click->modal#close"
        class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
        ✕
      </button>

      <!-- Modal content -->
      <h2 class="text-xl font-bold text-gray-800 mb-4">View Balance</h2>

        <h4 class="text-xl font-bold text-gray-500">3002</h4>
    </div>
  </div>