
<body class="bg-yellow-100">

<div class="w-[95%] max-w-8xl p-4 bg-white rounded-2xl shadow-[0_0_20px_rgba(59,130,246,0.4)] mx-auto mt-10 min-h-[800px]">

    <!-- Title -->
    <h2 class="text-lg font-medium text-yellow-600 mb-6">Commissions</h2>

    <!-- Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">

        <!-- Card 1 -->
        <a href="<%=superadmin_recharge_and_bill_bbps_commission_path(id: 7)%>">
         <div class="flex flex-col items-center justify-center bg-yellow-50 border rounded-xl shadow-sm p-6 hover:shadow-md hover:scale-105 transition-all cursor-pointer">
            <img src="https://cdn-icons-png.flaticon.com/512/1048/1048949.png" 
                 alt="Recharge Icon"
                 class="w-12 h-12 mb-3">
            <p class="text-yellow-700 font-medium">BBPS</p>
            <p class="font-bold text-lg mt-1">24</p>
         </div>
        </a>


        <!-- Card 2 -->
        <div class="flex flex-col items-center justify-center bg-yellow-to-b from-white to-yellow-50 border rounded-xl shadow-sm p-6 hover:shadow-md hover:scale-105 transition-all cursor-pointer bg-yellow-50">
            <img src="https://cdn-icons-png.flaticon.com/512/584/584092.png" class="w-12 h-12 mb-3">
            <p class="text-yellow-700 font-medium">Travel & Stay</p>
            <p class="font-bold text-lg mt-1">18</p>
        </div>

        <!-- Card 3 -->
        <div class="flex flex-col items-center justify-center bg-yellow-to-b from-white to-yellow-50 border rounded-xl shadow-sm p-6 hover:shadow-md hover:scale-105 transition-all cursor-pointer bg-yellow-50">
            <img src="https://cdn-icons-png.flaticon.com/512/929/929564.png" class="w-12 h-12 mb-3">
            <p class="text-yellow-700 font-medium">Loan & Credit Card</p>
            <p class="font-bold text-lg mt-1">12</p>
        </div>

        <!-- Card 8 -->
        <div class="flex flex-col items-center justify-center bg-yellow-to-b from-white to-yellow-50 border rounded-xl shadow-sm p-6 hover:shadow-md hover:scale-105 transition-all cursor-pointer bg-yellow-50">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135673.png" class="w-12 h-12 mb-3">
            <p class="text-yellow-700 font-medium">DMT</p>
            <p class="font-bold text-lg mt-1">20</p>
        </div>

    </div>
</div>

</body>
</html>
