<div
     data-modal-target="container"
     data-action="click->modal#backdrop"
     class="hidden fixed inset-0 flex items-center justify-center z-50" style="backdrop-filter: brightness(0.5);">

  <div class="bg-white rounded-2xl shadow-xl max-w-md w-full p-6 relative">
    <!-- Close button -->
    <button data-action="click->modal#close"
            class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
      ✕
    </button>

    <h2 class="text-xl font-bold text-gray-800 mb-4">Confirmation Modal</h2>
    <p class="text-gray-600 mb-6">Are You Sure</p>

    <div class="flex justify-end gap-3">
      <button data-action="click->modal#close"
              class="px-4 py-2 rounded-lg bg-red-400 hover:bg-red-600 text-white font-bold cursor-pointer">
        Cancel
      </button>
       <button data-action="click->modal#close"
              class="px-4 py-2 rounded-lg text-white font-bold bg-blue-600 cursor-pointer">
        Sumbit
      </button>
    </div>
  </div>
</div>