<aside class="w-80 bg-indigo-700 text-white flex flex-col">
  <div class="p-4 text-2xl font-bold border-b border-indigo-600 flex items-center space-x-2">
    <%= image_tag "logo.png", alt: "Logo", class: "h-11 w-auto bg-white rounded-full" %>
    <span>Master Portal</span>
  </div>
  <nav class="flex-1 p-4 space-y-2 overflow-y-auto">
    <a href="/master/dashboards/index" class="flex text-lg font-medium items-center gap-3 px-3 py-2 rounded-lg hover:bg-indigo-600"><i class="fa fa-home"></i> Home</a>
    <a href="/master/users/index" class="flex items-center text-lg font-medium gap-3 px-3 py-2 rounded-lg hover:bg-indigo-600"><i class="fa-solid fa-bars"></i>Dealer & Retailer</a>
    <a href="/master/dashboards/index" class="flex text-lg font-medium items-center gap-3 px-3 py-2 rounded-lg hover:bg-indigo-600"><i class="fa fa-user-shield"></i>Payment</a>
    <a href="#" class="flex items-center gap-3 px-3 text-lg font-medium py-2 rounded-lg hover:bg-indigo-600"><i class="fa fa-users"></i> Admin</a>
    <a href="#" class="flex items-center gap-3 px-3 text-lg font-medium py-2 rounded-lg hover:bg-indigo-600"><i class="fa fa-credit-card"></i> Payment</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-wallet"></i> Account</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-exchange-alt"></i> Money Transfer</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-bolt"></i> Recharge & Bill</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-hand-holding-usd"></i> Collect Money</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-landmark"></i> Financial Services</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-plane"></i> Travel Services</a>
    <a href="#" class="flex items-center gap-3 px-3 py-2 text-lg font-medium rounded-lg hover:bg-indigo-600"><i class="fa fa-cogs"></i> Payment Services</a>
  </nav>
</aside>